.mat-toolbar-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-decoration: none;
}
.logo{
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
